<ion-content class="ion-padding">
  <!-- Image -->
  <div class="image-container">
    <ion-img src="../../../assets/scooter.jpg"></ion-img>
  </div>

  <!-- Massage -->
  <div class="massage-container">
    <h1>Mua sắm <span class="text-warning">trực tuyến</span>
      <br>nhận hàng <span class="text-danger">tại nhà</span>
    </h1>
  </div>

  <!-- Buttons -->
  <div>
    <ion-button expand="block" class="ion-margin-bottom" routerLink="../login">Đăng nhập</ion-button>
    <ion-button expand="block" fill="outline" routerLink="../register">Đăng ký</ion-button>
  </div>

  <!-- Other logins-->
  <div class="social-login-container">
    <p>Phương thức đăng nhập khác</p>
    <div class="socials">
      <div class="social-icon">
        <ion-img src="../../../assets/google.png"></ion-img>
      </div>
      <div class="social-icon">
        <ion-img src="../../../assets/facebook.png"></ion-img>
      </div>
    </div>
  </div>

</ion-content>
