.header {
    margin-top: 10vh;
    margin-bottom: 5vh;

    h1 {
        color: #000;
        margin-bottom: 20px;
        font-weight: 500;
        font-family:Verdana, Geneva, Tahoma, sans-serif;
        font-size: 30px;
    }

}