<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons>
      <ion-back-button defaultHref="../onboarding"></ion-back-button>
      <ion-title>Quay lại</ion-title>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="header">
    <h1>Đăng nhập</h1>
    
    <form>
      <div class="form-field">
        <ion-icon name="person-outline"></ion-icon>
        <ion-input placeholder="Tên tài khoản" ></ion-input>
      </div>
      <div class="form-field">
        <ion-icon name="lock-closed-outline"></ion-icon>
        <ion-input type="password" placeholder="Mật khẩu"></ion-input>
      </div>

      <ion-button expand="block">Đăng nhập</ion-button>
    </form>
  </div>
</ion-content>
